{% extends 'base.html' %}

{% block extra_meta %}
    <meta name="description" content="Eventabase is a user-hosted group-based events/activity advertiser and organiser, that allows registered users to either search for
                                      events/activities to participate in; or advertise their own events/activities for others to partake.">
    <meta name="keywords" content="events/activities organiser, events/activities advertiser, group-based">

{% endblock %}

{% block title %}landing page{% endblock %}

{% block h1 %}Eventabase{% endblock %}

{% block nav_options %}
    <div>
        <i class="fa-solid fa-user-plus nav_icon"></i>
        <div class="nav_icon">
            Sign-up
        </div>
    </div>
{% endblock %}