{% extends 'base.html' %}

{% block extra_meta %}
    <meta name="description" content="Eventabase is a user-hosted group-based events/activity advertiser and organiser,
                                      that allows registered users to either search for
                                      events/activities to participate in; or advertise their own events/activities
                                      for others to partake.">
    <meta name="keywords" content="events/activities organiser, events/activities advertiser, group-based">

{% endblock %}

{% block title %}Landing page{% endblock %}

{% block h1 %}Eventabase{% endblock %}

{% block nav_options %}
    <div>
        <i class="fa-solid fa-user-plus nav_icon"></i>
        <div class="nav_icon">
            Sign-up
        </div>
    </div>
{% endblock %}

{% block main %}
    <!-- Image container with the images that feature in the automated fade-in/fade-out image slideshow-->
    <div>
        {% load static %}
        <picture>
            <source media="(max-width: 640px)" srcset="{% static 'images/group_playing_pool_small.jpg' %}">
            <source media="(max-width: 1280px)" srcset="{% static 'images/group_playing_pool_medium.jpg' %}">
            <source srcset="{% static 'images/group_playing_pool_large.jpg' %}">
            <img class="slideshow_images current_image" src="{% static 'images/group_playing_pool_small.jpg' %}"
            alt="group of people playing pool slideshow image" aria-hidden="false">
        </picture>
        <picture>
            <source media="(max-width: 640px)" srcset="{% static 'images/cyclists_small.jpg' %}">
            <source media="(max-width: 1280px)" srcset="{% static 'images/cyclists_medium.jpg' %}">
            <source srcset="{% static 'images/cyclists_large.jpg' %}">
            <img class="slideshow_images" src="{% static 'images/cyclists_small.jpg' %}"
            alt="three men cycling side-by-side on the road slideshow image" aria-hidden="true">
        </picture>
        <picture>
            <source media="(max-width: 640px)" srcset="{% static 'images/people_bowling_small.jpg' %}">
            <source media="(max-width: 1280px)" srcset="{% static 'images/people_bowling_medium.jpg' %}">
            <source srcset="{% static 'images/people_bowling_large.jpg' %}">
            <img class="slideshow_images" src="{% static 'images/people_bowling_small.jpg' %}"
            alt="four people posing for a photograph whilst at a bowling alley, and holding bowling balls slideshow image" aria-hidden="true">
        </picture>
        <picture>
            <source media="(max-width: 640px)" srcset="{% static 'images/karting_small.jpg' %}">
            <source media="(max-width: 1280px)" srcset="{% static 'images/karting_medium.jpg' %}">
            <source srcset="{% static 'images/karting_large.jpg' %}">
            <img class="slideshow_images" src="{% static 'images/karting_small.jpg' %}"
            alt="three go-karts waiting to race on the start line slideshow image" aria-hidden="true">
        </picture>
        <picture>
            <source media="(max-width: 640px)" srcset="{% static 'images/group_in_pub_small.jpg' %}">
            <source media="(max-width: 1280px)" srcset="{% static 'images/group_in_pub_medium.jpg' %}">
            <source srcset="{% static 'images/group_in_pub_large.jpg' %}">
            <img class="slideshow_images" src="{% static 'images/group_in_pub_small.jpg' %}"
            alt="group of people sitting side-by-side in pub slideshow image" aria-hidden="true">
        </picture>
        <picture>
            <source media="(max-width: 640px)" srcset="{% static 'images/climbing_small.jpg' %}">
            <source media="(max-width: 1280px)" srcset="{% static 'images/climbing_medium.jpg' %}">
            <source srcset="{% static 'images/climbing_large.jpg' %}">
            <img class="slideshow_images" src="{% static 'images/climbing_small.jpg' %}"
            alt="two climbers on climbing wall in climbing gym slideshow image" aria-hidden="true">
        </picture>
        <picture>
            <source media="(max-width: 640px)" srcset="{% static 'images/concert_small.jpg' %}">
            <source media="(max-width: 1280px)" srcset="{% static 'images/concert_medium.jpg' %}">
            <source srcset="{% static 'images/concert_large.jpg' %}">
            <img class="slideshow_images" src="{% static 'images/concert_small.jpg' %}"
            alt="people in a crowd at a concert, with the band in the background on stage slideshow image" aria-hidden="true">
        </picture>
        <picture>
            <source media="(max-width: 640px)" srcset="{% static 'images/swimming_small.jpg' %}">
            <source media="(max-width: 1280px)" srcset="{% static 'images/swimming_medium.jpg' %}">
            <source srcset="{% static 'images/swimming_large.jpg' %}">
            <img class="slideshow_images" src="{% static 'images/swimming_small.jpg' %}"
            alt="aerial photo of people in a swimming race in the sea slideshow image" aria-hidden="true">
        </picture>
        <picture>
            <source media="(max-width: 640px)" srcset="{% static 'images/tennis_small.jpg' %}">
            <source media="(max-width: 1280px)" srcset="{% static 'images/tennis_medium.jpg' %}">
            <source srcset="{% static 'images/tennis_large.jpg' %}">
            <img class="slideshow_images" src="{% static 'images/tennis_small.jpg' %}"
            alt="three men playing tennis slideshow image" aria-hidden="true">
        </picture>
    </div>
    <!--How it works section-->
    <section id="how_it_works">
        <h2>How it Works</h2>
        <p>
            Are you bored with nothing to do in your area? Need people to do something with? Or perhaps you are looking to try something new and make new friends
            at the same time.
        </p>
        <p>
            <strong>Eventabase is an events and activities advertiser and organiser</strong>, that allows its registered users to both advertise an event or activity they wish
            to host, as well as search for activities or events hosted by other users, to potentially participate in.
        </p>
        <p>
            To advertise an event/activity all a user has to do is provide the required information. Other users then can register their interest,
            and the host can choose who to invite. Any further communication between the host and its attendees is managed through the message
            dashboard.
        </p>
        <p>
            Users can search for events/activities they like, by location and using keywords. All users can provide reviews/ratings for other users as
            participants and hosts independently.
        </p>
        <div>
            <div>
            <h3>Next Steps</h3>
            <ol>
                <li>Sign-up to create an account</li>
                <li>Verify your account email</li>
                <li>Sign-in</li>
                <li>Set-up your profile</li>
                <li>
                    On your homepage, navigate to the post or search events/activities
                    sections to begin advertising or looking for your next event/activity.
                </li>
            </ol>
            </div>
            <div>
                <button type="button" name="sign-up"> SIGN-UP</button>
                <button type="button" name="sign-in"> SIGN-IN</button>
            </div>
        </div>
    </section>
{% endblock %}
