<div class="event_container advertised" role="region" aria-label="event item" tabindex="0">
    <div>
        {% for field_name, value in event.items %}
            {% if forloop.counter0 <= 8 %}
                <div class="details_display">
                    <span>{{field_name|title}} :</span>
                    <span>{{value}}.</span>
                </div>
            {% endif%}
        {% endfor %}  
    </div>
    <div>
        {% for field_name, value in event.items %}
            {% if forloop.counter0 >= 9 %}
                <div class="details_display">
                    <span>{{field_name|title}} :</span>
                    <span>{{value}}.</span>
                </div>
            {% endif%}
        {% endfor %}
        <strong>No. of users attending so far: 0.</strong>
        <button class='delete_advert'>Delete Advert</button>
    </div>
</div>