<div class="event_container advertised" role="region" aria-label="event item" tabindex="0">
    <div>
        {% for field_name,value in event.items %}
            {% if forloop.counter0 <= 8 %}
                <div class="details_display">
                    <span>{{field_name|title}} :</span>
                    <span>{{value}}.</span>
                </div>
            {% endif%}
        {% endfor %}  
    </div>
    <div>
        {% for field_name, value in event.items %}
            {% if forloop.counter0 >= 9 %}
                <div class="details_display">
                    <span>{{field_name|title}} :</span>
                    <span>{{value}}.</span>
                </div>
            {% endif%}
        {% endfor %}
        <h5 aria-label = 'number of users attending so far'>No. of users attending so far: {{event_count}}.</h5>
        <button>Delete Advert</button>
    </div>
</div>