<h2>Host Events & Activities</h2>
<div id='post_events_grid' class="grid_container" tabindex="-1">
    <div class="top_row both_columns">
        <p>
            View and manage the events & activities you are advertising to host and or have upcoming. Post as many new adverts
            as you wish! Please regularly check this section, as well as your emails for updates to your adverts and upcoming events.
            Also remember to check your emails for messages from those attending one of your upcoming events.
        </p>
        {% with modal='post_events_modal' %}
            <div id="post_button">
                <button class="open_modal_button" aria-controls="{{modal}}">Post New</button>
            </div>
        {% endwith %}
    </div>
    <div class="both_columns bottom_row">
        <h3>Your Advertised and Upcoming Events or Activities</h3>
        <input id='advertised' name='event_type' type="radio" value="advertised" checked >
        <label for="advertised">Advertised</label>
        <input id='upcoming' name='event_type' type="radio" value="upcoming">
        <label for="upcoming">Upcoming</label>
        {% for event, event_count in advertised_hosting_events_data %}
            <div class="event_container advertised" role="region" aria-label="event item" tabindex="0">
                <div>
                    {% for field_name, value in event.items %}
                        {% if forloop.counter0 <= 8 %}
                            <div class="details_display">
                                <span>{{field_name|title}} :</span>
                                <span>{{value}}.</span>
                            </div>
                        {% endif %}
                    {% endfor %}  
                </div>
                <div>
                    {% for field_name, value in event.items %}
                        {% if forloop.counter0 >= 9 %}
                            <div class="details_display">
                                <span>{{field_name|title}} :</span>
                                <span>{{value}}.</span>
                            </div>
                        {% endif%}
                    {% endfor %}
                    <strong>No. of users attending so far: 
                        {% if event_count > 0 %}
                            {{event_count}}.
                        {% else %} 
                            0.
                        {% endif %}
                    </strong>
                    <button class="delete_advert">Delete Advert</button>
                </div>
            </div>
        {% empty %}
            <div class="event_container advertised" role="region" aria-label="event item" tabindex="0">
                <p>You currenty have no adverts for hosting events or activities.</p>
            </div>
        {% endfor %}
        {% for event, event_count in upcoming_hosting_events_data %}
            <div class="event_container upcoming" role="region" aria-label="event item" tabindex="0">
                <div>
                    {% for field_name, value in event.items %}
                        {% if forloop.counter0 <= 8 %}
                            <div class="details_display">
                                <span>{{field_name|title}} :</span>
                                <span>{{value}}.</span>
                            </div>
                        {% endif%}
                    {% endfor %}  
                </div>
                <div>
                    {% for field_name, value in event.items %}
                        {% if forloop.counter0 >= 9 %}
                            <div class="details_display">
                                <span>{{field_name|title}} :</span>
                                <span>{{value}}.</span>
                            </div>
                        {% endif%}
                    {% endfor %}
                    <strong>No. of users attending: 
                        {% if event_count > 0 %}
                            {{event_count}}.
                        {% else %} 
                            0.
                        {% endif %}
                    </strong>
                    <button class="cancel_event">Cancel</button>
                    <button class='attendee_info'>attendee contact info</button>
                </div>
            </div>
        {% empty %}
            <div class="event_container upcoming" role="region" aria-label="event item" tabindex="0">
                <p>You currenty have no upcoming events or activities that are you are confirmed to host. An event becomes confirmed once the closing advert date has passed.</p>
            </div>
        {% endfor %}
    </div>
</div>
    