{% extends 'base.html' %}

{% block extra_meta %}
    <meta name="description" content="Eventabase registered user homepage">
    <meta name="keywords" content="homepage">

{% endblock %}

{% block title %}Home{% endblock %}

{% block h1 %}Welcome back:{% endblock %}

{% block main %}
    <section id="profile" role="region" aria-label="profile section">
        {{profile}}
        {{edit_profile_modal}}
        <div class="expand_icon">
            <span tabindex="0" data-icon-type='expand_more' class="material-symbols-outlined">expand_more</span>
            <span tabindex="0" data-icon-type="expand_less" class="material-symbols-outlined">expand_less</span>
        </div>
    </section>
    <section id="search_events">
        <div class="expand_icon">
            <span tabindex="0" data-icon-type='expand_more' class="material-symbols-outlined">expand_more</span>
            <span tabindex="0" data-icon-type="expand_less" class="material-symbols-outlined">expand_less</span>
        </div>
    </section>
    <section id="post_events">
        {{post_events}}
        <div class="expand_icon">
            <span tabindex="0" data-icon-type='expand_more' class="material-symbols-outlined">expand_more</span>
            <span tabindex="0" data-icon-type="expand_less" class="material-symbols-outlined">expand_less</span>
        </div>
    </section>
    <!--Will feature in later versions.-->
    <!-- <section id="reviews">
        <div class="expand_icon">
            <span tabindex="0" data-icon-type='expand_more' class="material-symbols-outlined">expand_more</span>
            <span tabindex="0" data-icon-type="expand_less" class="material-symbols-outlined">expand_less</span>
        </div>
    </section> -->
{% endblock %}
