<h2>Profile</h2>
<div class="grid_container">
    <div class="left_column top_row">
        <h3 class="profile_display">Personal Info</h3>
    {% for field_name, field_value in user_profile_data %}
        {% if forloop.counter|divisibleby:'2' %}
            <div class="profile_display">
                <span>{{field_name|title}} :</span>
                <span>{{field_value}}</span>
            </div>
        {% else%}
            <div class="profile_display">
                <span>{{field_name|title}} :</span>
                <span>{{field_value}}</span>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="right_column top_row">
        <h3 class="profile_display">Address</h3>
    {% for field_name, field_value in user_address_data %}
        <div class="profile_display">
            <span>{{field_name|title}} :</span>
            <span>{{field_value}}</span>
        </div>
    {% endfor %}
    </div>
    <div id="profile_flex" class="bottom_row">
        <div id="edit">
            Edit <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <div id="report_issue">
            <div>
                <button type="button" name="report_issue">Report Issue</button>
                <span data-icon-type="help" class="material-symbols-outlined" aria-hidden="true">help</span>
            </div>
            <div class="help_text">
                Report any issues, about the site, your account etc.
            </div>
        </div> 
    </div>
</div>