<h2>Profile</h2>
<div class="grid_container" tabindex="-1">
    <div class="left_column top_row">
        <h3 class="profile_display">Personal Info</h3>
    {% for field_name, field_value in user_profile_data %}
        <div class="profile_display">
            <span>{{field_name|title}} :</span>
            <span>{{field_value}}</span>
        </div>
    {% endfor %}
    </div>
    <div class="right_column top_row">
        <h3 class="profile_display">Address</h3>
    {% for field_name, field_value in user_address_data %}
        <div class="profile_display">
            <span>{{field_name|title}} :</span>
            <span>{{field_value}}</span>
        </div>
    {% endfor %}
    </div>
    <div id="profile_flex" class="bottom_row">
        {% with modal='edit_profile_modal' %}
            <div id="edit" class="open_modal_button" role="button" aria-label="edit profile" aria-controls="{{modal}}" tabindex="0">
                <span>Edit <i class="fa-solid fa-pen-to-square"></i></span>
            </div>
        {% endwith %}
        <!-- Visibility temporarily set to hidden, as required functionality not yet fully implemented -->
        <div id="report_issue" style="visibility:hidden;">
            <div>
                <button type="button" name="report_issue">Report Issue</button>
                <span data-icon-type="help" class="material-symbols-outlined" aria-hidden="true">help</span>
            </div>
            <div class="help_text">
                Report any issues, about the site, your account etc.
            </div>
        </div> 
    </div>
</div>