@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Loved+by+the+King&family=Staatliches&display=swap');

/*CSS Section: General styling*/

/*Removes browser padding/margin/border box sizing*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
    font-size: 0.7rem;
    height: 100%;
    overflow-y: hidden;
}

body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    font-family: 'Josefin Slab', serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*Make header sticky*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    color: #ffffff;
    width: 100%;
    background-color: #d62839;
    flex: 0 1 auto;
}

footer > div {
    flex-basis: 50%;
    border: 2px solid #fcfc62;
    padding-left: 0.3rem;
    padding-bottom: 0.3rem;
    
}

footer p {
    width: fit-content;
    margin-left: 0;
}

#back_to_top {
    cursor: pointer;
}

h1 {
    font-family: 'Staatliches', cursive;
    width: fit-content;
    margin: 0.1rem 0.5rem;
    display: inline-block;
}

h2, h3, h4, h5 {
    font-family: 'Loved by the King', cursive;
    width: fit-content;
    margin: 0.5rem auto;
}

p {
    padding: 0 1rem;
    margin: 1rem auto;
    word-spacing: 0.2rem;
}

ol {
    padding: 0 0 0 1.5rem;
}

li {
    margin: 1rem 0;
}

button {
    display: block;
    margin: 3rem auto;
    padding: 1rem;
    color: #ffffff;
    background-color: #d62839;
    border: 2px solid #fcfc62;
    border-radius: 25px;
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
    font-size: inherit;
}
/* CSS Section: Nav bar styling */

nav {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    background-color: #d62839;
    position: relative;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    cursor: default;
}

table {
    border: solid 2px #d62839;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem;
    border: solid 2px #d62839;
}

input, textarea {
    border: 2px solid black;
    width: 60%;
}

input[type = 'checkbox'] {
    width: fit-content;
}

:focus {
    outline: #fcfc62 solid 2px;
}

button:focus {
    outline: #000000 solid 3px;
}

nav > div {
    margin: 0.1rem 0.3rem;
    font-size: inherit;
    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
}

.nav_icon {
    --fa-display: block;
    display: var(--fa-display,block);
    margin: 0 auto;
    width: fit-content;
    color: #fff;
    cursor: pointer;
}

.menu_item {
    margin: 0 auto 1.5rem;
    width: 100%;
}

.active {
    background-color: #fcfc62;
}

.clicked {
    background-color: #fa8334;
}
	
span.more_menu_button {
    cursor: pointer;
    padding: 0 0.6rem;
    color: #ffffff;
}

.menu_item > a {
    display: inline-block;
    width: 100%;
    color: #ffffff;
}

.active > a {
    color: #000000;
}

#more_menu_container {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#more_menu {
    position: fixed;
    top: 2.65rem;
    right: 0;
    width: 25vw;
    min-height: 10vh;
    background-color: #d62839;
    border: 2px solid #ffffff;
    visibility: hidden;
}

#menu_items_container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#more_menu > :first-child {
    font-size: 1rem;
    text-align: right;
    margin-bottom: 0.7rem;
}

/* Google icon styling class*/
.material-symbols-outlined {
    cursor: default;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}

[data-icon-type^="expand"] {
    cursor: default;
}

/* submitted form fields error feedback message styling */
.errorlist {
    list-style: inside;
    color: #d62839;
}

.field_errors {
    margin-left: 0.3rem;
}

.errorlist > li {
    margin: 0rem 0rem 0.5rem;
}

.field_flex_container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.field_flex_container > div {
    flex-basis: 60%;
    flex-shrink: 1;
}

.field_flex_container > span {
    flex-basis: 5%;
    flex-shrink: 1;
    align-self: start;
}

.field_flex_container > div:last-child {
    flex-basis: 30%;
    flex-shrink: 4;
}

.form_fields > div {
    display: inline-block;
    width: 35%;
    text-align: right;
    vertical-align: top;
}

.errors_present > input {
    border-color: #d62839;
}

.help_text {
    color: #000000;
    display: none;
    border: 2px solid #000000;
    margin-right: 0.1rem;
    padding: 0.15rem;
}

.matching_icon {
    color: #00FF00;
    display: inline;
}

.no_match_icon {
    color: #FF0000;
    display: none;
}

#messages {
    list-style-position: inside;
}

.modal_container {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
    height: 90%;
    overflow-y: scroll;
    background-color: #ffffff;
    border: 2px solid #000000;
}

.modal_buttons_container {
    text-align: center;
}

.modal_button {
    margin: 0 2rem;
}

.close_button {
    padding: 0.5rem 1rem 0 0;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* CSS Section: Landing_page only styling */

#landing_page h1 {
    margin: 0.1rem auto;
    display: block;
}

#landing_page header > h2 {
    margin: -0.8rem  auto 0 auto;
    padding-bottom: 0.1rem;
}

#landing_page main > :first-child {
    height: 25vh;
    position: relative;
}

#landing_page #more_menu {
    top: 4.4rem;
}

.slideshow_images {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 2s;
}

.current_image {
    opacity: 1;
}

#how_it_works > div{
    display: flex;
}

#how_it_works > div > div:nth-child(1) {
    flex: 6 4 0;
}

#how_it_works > div > div:nth-child(2) {
    flex: 4 6 0%;
}

/* CSS Section: Landing_page only styling */

#login_links {
    display: flex;
    justify-content: space-evenly;
}

/* CSS Subsection: home page styling only */
#home_page section {
    border: 2px solid #d62839;
    margin: 0.5rem;
}

[data-icon-type = 'expand_less'] {
    display: none;
}

.expand_icon {
    text-align: center;
    margin-top: 0.5rem;
    height: fit-content
}

.expand_icon > span {
    font-size: 2rem;
}

.grid_container {
    display: none;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    height: fit-content;
}

.grid_container button {
    margin: 0;
}

.profile_display, .details_display {
    margin: 1rem 1rem;
}

.left_column {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right_column {
    grid-column-start: 2;
    grid-column-end: 3;
}

.both_columns {
    grid-column-start: 1;
    grid-column-end: 3;
}

.top_row {
    grid-row-start: 1;
    grid-row-end: 2;
}

.bottom_row {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.profile_display > span:nth-child(2), .right_column > span:nth-child(2) {
    padding-left: 0.5rem;
}

.event_container > div {
    flex-basis: 50%;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

#post_events .hidden, #search_events .hidden {
    display: None;
}

#home_page button, #search_adverts button {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    display: inline-block;
}

#profile_flex, .event_container {
    display: flex;
}

#report_issue {
    display: flex;
    flex-basis: 75%;
}

#report_issue > div:first-child {
    flex-basis: 55%;
    text-align: right;

}

#report_issue > div:nth-child(2) {
    flex-basis: 40%;
    margin: 0 auto;
}

#edit {
    text-align:  center;
    flex-basis: 25%;
    align-self: center;
    cursor: default;
}

#post_button > button, button#search_adverts_button {
    width: fit-content;
    margin: 0 auto;
    display: block;
}

[type = 'radio'] {
    width:fit-content;
    margin: 0.5rem 1rem 1.5rem 1rem;  
}

.event_container strong {
    font-family: 'Josefin Slab', serif;
    margin: 0.5rem;
    display: block;
}

/* CSS Subsection: Media queries: */

/*Slideshow image queries*/
@media screen and (min-width: 400px) and (max-device-aspect-ratio: 650/700 ) and (orientation: portrait) {
    #landing_page main > :first-child {
        height: 33vh;

    }
}

@media screen and (min-width: 510px) and (orientation: portrait) {
    #landing_page main > :first-child {
        height: 40vh;

    }
}

@media screen and (min-width: 800px) and (orientation: portrait) {
    #landing_page main > :first-child {
        height: 50vh;
    }
}

@media screen and (orientation: landscape) {
    #landing_page main > :first-child {
        height: 60vh;
    }
}

@media screen and (orientation: landscape) and (min-aspect-ratio: 2/1) {
    #landing_page main > :first-child {
        height: 60vh;
        background-color: rgba(214, 40, 57, 0.6);
    }

    .slideshow_images {
        object-fit: contain;
    }
}

/*Whole page queries*/
@media screen and (min-width: 300px){
    html {
        font-size: 0.8rem;
    }
    
}

@media screen and (min-width: 400px){
    html {
        font-size: 1rem;
    }
    
}

@media screen and (min-width: 650px){
    html {
        font-size: 1.4rem;
    }
    
}

@media screen and (min-width: 850px){
    html {
        font-size: 1.6rem;
    }
    
}

@media screen and (min-width: 1150px){
    html {
        font-size: 1.8rem;
    }
    
}

@media screen and (min-width: 1400px){
    html {
        font-size: 2rem;
    }
    
}

/* Modal form queries*/

@media screen and (min-width: 250px){
    .modal label, .modal span, .modal input, .modal textarea, .modal select {
        font-size: 0.75rem;
    }  
}

@media screen and (min-width: 280px) {
    .modal label, .modal span, .modal input, .modal textarea, .modal select {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 500px) {
    .modal label, .modal span, .modal input, .modal textarea, .modal select {
        font-size: 1rem;
    }
}