@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Loved+by+the+King&family=Staatliches&display=swap');

/*CSS Section: General styling*/

/*Removes browser padding/margin/border box sizing*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
    font-size: 0.8rem;
}

body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    font-family: 'Josefin Slab', serif;
}

h1 {
    font-family: 'Staatliches', cursive;
    width: fit-content;
    margin: 0.1rem auto;
}

h2,h3 {
    font-family: 'Loved by the King', cursive;
    width: fit-content;
    margin: 0.5rem auto;
}

p {
    padding: 0 1rem;
    margin: 1rem auto;
    word-spacing: 0.2rem;
}

ol {
    padding: 0 0 0 1.5rem;
}

li {
    margin: 1rem 0;
}

button {
    display: block;
    margin: 3rem auto;
    padding: 1rem;
    background-color: #fcfc62;
    border: 2px solid #d62839;
    border-radius: 25px;
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
    font-size: inherit;
}
/* CSS Section: Nav bar styling */

nav {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    background-color: #d62839;
    position: relative;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    cursor: default;
}

:focus {
    outline: #fcfc62 solid 2px;
}

nav > div {
    margin: 0.1rem 0.3rem;
    font-size: inherit;
    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
}

.nav_icon {
    --fa-display: block;
    display: var(--fa-display,block);
    margin: 0 auto;
    width: fit-content;
    color: #fff;
    cursor: pointer;
}

.menu_item {
    margin: 0 auto 1.5rem;
    width: 100%;
}

.active {
    background-color: #fcfc62;
}

.clicked {
    background-color: #fa8334;
}

.clicked > a {
    color: #fff;
}
	
span.more_menu_button {
    cursor: pointer;
    padding: 0 0.6rem;
}

.menu_item > a {
    display: inline-block;
    width: 100%;
}

#more_menu_container {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#more_menu {
    position: fixed;
    right: 0;
    top: 4.4rem;
    width: 25vw;
    min-height: 10vh;
    background-color: #ffffff;
    border: 2px solid black;
    visibility: hidden;
}

#menu_items_container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#more_menu > :first-child {
    font-size: 1rem;
    text-align: right;
    margin-bottom: 0.7rem;
}

/* CSS Section: Landing_page only styling */

#landing_page header > h2 {
    margin: -0.8rem  auto 0 auto;
    padding-bottom: 0.1rem;
}

#landing_page main > :first-child {
    height: 25vh;
    position: relative;
}

.slideshow_images {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 2s;
}

.current_image {
    opacity: 1;
}

#how_it_works > div{
    display: flex;
}

#how_it_works > div > div:nth-child(1) {
    flex: 6 4 0;
}

#how_it_works > div > div:nth-child(2) {
    flex: 4 6 0%;
}
