@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Roboto&family=Staatliches&display=swap');

/*CSS Section: General styling*/

/*Removes browser padding/margin/border box sizing*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
    font-size: 0.8rem;
}

body {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

h1 {
    font-family: 'Staatliches', cursive;
    width: fit-content;
    margin: 0 auto;
}

h2 {
    font-family: 'Loved by the King', cursive;
    width: fit-content;
    margin: -0.8rem  auto 0 auto;
    padding-bottom: 0.1rem;
}

/* CSS Section: Nav bar styling */

nav {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    background-color: #d62839;
    position: relative;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    cursor: default;
}

:focus {
    outline: #fcfc62 solid 2px;
}

nav > div {
    margin: 0.1rem 0.3rem;
    font-size: inherit;
    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
}

.nav_icon {
    --fa-display: block;
    display: var(--fa-display,block);
    margin: 0 auto;
    width: fit-content;
    color: #fff;
    cursor: pointer;
}
	
span.more_menu_button {
    cursor: pointer;
    padding: 0.6rem;
}

#more_menu_container {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#more_menu {
    position: fixed;
    right: 0;
    top: 4.4rem;
    width: 25vw;
    min-height: 10vh;
    background-color: #ffffff;
    border: 2px solid black;
    visibility: hidden;
}

#menu_items {
    margin: 0 auto;
    width: fit-content;
}

#more_menu > :first-child {
    font-size: 1rem;
    text-align: right;
    margin-bottom: 0.7rem;
}

/* CSS Section: Landing_page only styling */

#landing_page main > div:first-child {
    height: 25vh;
    position: relative;
}

.slideshow_images {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 2s;
}

.current_image {
    opacity: 1;
}
