<!--Modified version of the django form template-->
{{ errors }}
{% if errors and not fields %}
  <div>{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
{% endif %}
{% for field, errors in fields %}
  <div class="field_flex_container">
    <div{% with classes=field.css_classes %}{% if classes %} class="{{ classes }}"{% endif %}{% endwith %}>
      {% if field.label %}
        <div>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</div>
      {% endif %}
      {{ field }}
    </div>
    {% if field.help_text %}
        <span data-icon-type="help" class="material-symbols-outlined" aria-hidden="true">help</span>
    {% endif %}
    {% if '2' in field.name %}
        <span class="material-symbols-outlined matching_icon" aria-hidden="true">check_circle</span>
        <span class="material-symbols-outlined no_match_icon" aria-hidden="true">dangerous</span>
    {% endif %}
    <div>
      {% if field.help_text %}
        <div class="help_text">{{ field.help_text|safe }}</div>
      {% endif %}
      {% if errors %}
        <div class="field_errors">
          {{ errors }}
        </div>
      {% endif %}
    </div>
  </div>
  {% if forloop.last %}
    {% if hidden_fields %}
      <div>{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
    {% endif %}
  {% endif %}
{% endfor %}
{% if not fields and not errors %}
  <div>{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
{% endif %}