<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_meta %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body id="{{page_id}}">
    <header>
        <h1>{% block h1 %}main heading{% endblock %}</h1>
        <h2>{{slogan}}</h2>
        <nav>
            <div>
                {% url "landing_page:landing_page_url" as landing_page_url%}
                <a href="{{landing_page_url}}" type="text/html">
                    <div>
                        <i class="fa-solid fa-house nav_icon" ></i>
                        <div class="nav_icon">
                            Home
                        </div>
                    </div>
                </a>
            </div>
            {% block nav_options %}{% endblock %}
            <div>
                <i class="fa-solid fa-arrow-right-to-bracket nav_icon"></i>
                <div class="nav_icon">
                    Sign-in
                </div>
            </div>
            <div class="more_menu_button" aria-role="button" aria-haspopup="menu" aria-expanded="false" aria-controls="more_menu">
                <i class="fa-solid fa-bars nav_icon"></i>
                <div class="nav_icon">
                    More
                </div>
            </div>
            <div id="more_menu_container">
                <div id="more_menu" aria-role="menu" tabindex="-1">
                    <div>
                        <span class="more_menu_button" aria-label="close menu" aria-role="button"><i class="fa-solid fa-xmark"></i> </span> 
                    </div>
                    <div id="menu_items_container">
                        {% block more_menu_items%}{% endblock %}
                        <div aria-role="menuitem" class="menu_item">
                            <a href="" type="text/html">T & C</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
    </footer>
    <script src="https://kit.fontawesome.com/498cc55193.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>